<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Backbone.js Demo</title>
		<link rel="stylesheet" type="text/css" href="css\backbone.css">
	</head>
	
	<body>
	
		<div id="app">
		</div>        
		
		<script src="js/jquery-1.9.1.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
		
		<script src="js/demoApp.js"></script>
		
		<!-- Templates -->
	
		<script type="text/template" id="person-template-brief">
			<%- person.get('name') %>
			<button class="delete">Delete</button>
			<button class="details">View Details</button><br>
		</script>
	  
		<script type="text/template" id="app-template">
			<button class="new">New</button><br>
			<div id="userList">
			</div>	
			<div id="userDetails">
			</div>
		</script>
	
		<script type="text/template" id="person-template">
			ID: <%- person.get('id') %><br>
			Name: <a href="" class="editName"><%- person.get('name') %></a><br>
			Age: <a href="" class="editAge"><%- person.get('age') %></a><br>
			Quote: <%- person.sayHello() %><br>
		</script>
		
	</body>
	
</html>